{% extends "base.html" %}

{% set showNavigationBar = True %}
{% set active_item_identifier = "grants" %}

{%- from "macros/tablePagination.html" import govukTablePagination -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}


{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Grants</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body">View all existing grants or add a new grant.</p>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
            {{ govukButton({
                "text": "Add new grant",
                "href": url_for("fund_bp.create_fund", action="grants_table")
            }) }}
        </div>
    </div>
    {{ govukTablePagination({
        "table_pagination_page": table_pagination_page
    }) }}
{% endblock content %}
