{% extends "base.html" %}
{% set pageHeading %}{{ 'Update a Round' if round_id else 'Create a Round' }}{% endset %}

{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if form.errors %}
          {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <p class="govuk-body govuk-!-margin-bottom-1">Grant: <a href="{{ url_for('fund_bp.edit_fund', fund_id=fund.fund_id) }}" class="govuk-link">{{ fund.title_json["en"] }}</a></p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a href="{{ url_for('round_bp.select_fund') }}" class="govuk-link">Change grant</a>
        </p>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST" novalidate>
                    {{form.hidden_tag()}}
                    {{form.title_en}}
                    {{form.title_cy(params={"classes": "welsh-field"})}}
                    {{form.short_name}}
                    {{form.opens()}}
                    {{form.deadline()}}
                    {{form.assessment_start()}}
                    {{form.reminder_date()}}
                    {{form.assessment_deadline()}}
                    {{form.prospectus_link}}
                    {{form.privacy_notice_link}}
                    {{form.contact_us_banner_en }}
                    {{form.contact_us_banner_cy(params={"classes": "welsh-field"}) }}
                    {{form.reference_contact_page_over_email}}
                    {{form.contact_email}}
                    {{form.contact_phone}}
                    {{form.contact_textphone}}
                    {{form.support_times}}
                    {{form.support_days}}
                    {{form.instructions_en }}
                    {{form.instructions_cy(params={"classes":"welsh-field"}) }}
                    {{form.feedback_link}}
                    {{form.project_name_field_id}}
                    {{form.application_guidance_en}}
                    {{form.application_guidance_cy(params={"classes": "welsh-field"}) }}
                    {{form.guidance_url}}
                    {{form.application_fields_download_available}}
                    {{form.display_logo_on_pdf_exports}}
                    {{form.mark_as_complete_enabled}}
                    {{form.is_expression_of_interest}}
                    {{form.has_feedback_survey}}
                    {{form.has_section_feedback}}
                    {{form.has_research_survey}}
                    {{form.is_feedback_survey_optional}}
                    {{form.is_section_feedback_optional}}
                    {{form.is_research_survey_optional}}
                    {{form.eligibility_config}}
                    {{form.eoi_decision_schema_en }}
                    {{form.eoi_decision_schema_cy(params={"classes": "welsh-field"}) }}
                    <div class="govuk-button-group govuk-!-margin-top-6">
                        {{ govukButton({
                            "text": "Save and continue",
                            "classes": "govuk-button",
                            "name": "action",
                            "value": "continue"
                        }) }}

                        {{ govukButton({
                            "text": "Cancel",
                            "classes": "govuk-button govuk-button--secondary",
                            "href": url_for("index_bp.dashboard")
                        }) }}
                    </div>

                    <p class="govuk-body">
                        {{ govukButton({
                            "text": "Save and return to home",
                            "classes": "govuk-button govuk-button--secondary",
                            "name": "action",
                            "value": "return_home"
                        }) }}
                    </p>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div id="round-config"
    data-welsh-available="{{ fund.welsh_available | string | lower }}"
    data-dashboard-url="{{ url_for('index_bp.dashboard') }}">
</div>
<script src="{{ url_for('static', filename='js/create_edit_round.js') }}"></script>
{% endblock content %}
