{% extends "base.html" %}
{% set pageHeading %}{{ 'Update a Round' if round_id else 'Create a Round' }}{% endset %}

{% from "macros/wtfToGovUk.html" import input %}
{% from "macros/wtfToGovUk.html" import dateinput %}
{% from "macros/wtfToGovUk.html" import multilineinput %}
{% from "macros/wtfToGovUk.html" import yes_no %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if error %}
            {{ govukErrorSummary({
                "titleText": error.titleText,
                "errorList": error.errorList
            }) }}
        {% endif %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        <p class="govuk-body govuk-!-margin-bottom-1">Grant: <a href="{{ url_for('fund_bp.edit_fund', fund_id=fund.fund_id) }}" class="govuk-link">{{ fund.title_json["en"] }}</a></p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a href="{{ url_for('round_bp.select_fund') }}" class="govuk-link">Change grant</a>
        </p>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <form method="POST">
                    {{ form.hidden_tag()}}
                    <input type="hidden" name="fund_id" value="{{ fund.fund_id }}" />
                    {{input(form.title_en)}}
                    {{input(form.title_cy, classes="welsh-field")}}
                    {{input(form.short_name)}}
                    {{dateinput(form.opens)}}
                    {{dateinput(form.deadline)}}
                    {{dateinput(form.assessment_start)}}
                    {{dateinput(form.reminder_date)}}
                    {{dateinput(form.assessment_deadline)}}
                    {{input(form.prospectus_link)}}
                    {{input(form.privacy_notice_link)}}
                    {{ multilineinput(form.contact_us_banner_en) }}
                    {{ multilineinput(form.contact_us_banner_cy, classes="welsh-field") }}
                    {{ yes_no(form.reference_contact_page_over_email) }}
                    {{ input(form.contact_email) }}
                    {{ input(form.contact_phone) }}
                    {{ input(form.contact_textphone) }}
                    {{ input(form.support_times) }}
                    {{ input(form.support_days) }}
                    {{ multilineinput(form.instructions_en) }}
                    {{ multilineinput(form.instructions_cy, classes="welsh-field") }}
                    {{input(form.feedback_link)}}
                    {{ input(form.project_name_field_id) }}
                    {{ multilineinput(form.application_guidance_en) }}
                    {{ multilineinput(form.application_guidance_cy, classes="welsh-field") }}
                    {{ input(form.guidance_url) }}
                    {{ yes_no(form.application_fields_download_available) }}
                    {{ yes_no(form.display_logo_on_pdf_exports) }}
                    {{ yes_no(form.mark_as_complete_enabled) }}
                    {{ yes_no(form.is_expression_of_interest) }}
                    {{ yes_no(form.has_feedback_survey) }}
                    {{ yes_no(form.has_section_feedback) }}
                    {{ yes_no(form.has_research_survey) }}
                    {{ yes_no(form.is_feedback_survey_optional) }}
                    {{ yes_no(form.is_section_feedback_optional) }}
                    {{ yes_no(form.is_research_survey_optional) }}
                    {{ yes_no(form.eligibility_config) }}
                    {{ multilineinput(form.eoi_decision_schema_en) }}
                    {{ multilineinput(form.eoi_decision_schema_cy, classes="welsh-field") }}
                    <div class="govuk-button-group govuk-!-margin-top-6">
                        {{ govukButton({
                            "text": "Save and continue",
                            "classes": "govuk-button",
                            "name": "action",
                            "value": "continue"
                        }) }}

                        {{ govukButton({
                            "text": "Cancel",
                            "classes": "govuk-button govuk-button--secondary",
                            "href": url_for("index_bp.dashboard")
                        }) }}
                    </div>

                    <p class="govuk-body">
                        {{ govukButton({
                            "text": "Save and return to home",
                            "classes": "govuk-button govuk-button--secondary",
                            "name": "action",
                            "value": "return_home"
                        }) }}
                    </p>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div id="round-config"
    data-welsh-available="{{ fund.welsh_available | string | lower }}"
    data-dashboard-url="{{ url_for('index_bp.dashboard') }}">
</div>
<script src="{{ url_for('static', filename='js/create_edit_round.js') }}"></script>
{% endblock content %}
