{% from "govuk_frontend_jinja/macros/attributes.html" import govukAttributes -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{% set showNavigationBar = True %}
{% set back_link = True %}
{% set active_item_identifier = "applications" %}
{% extends "base.html" %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Apply for {{ round.fund.title_json["en"] }}</h2>
        <a class="" href="{{ url_for('fund_bp.edit_fund', fund_id=round.fund.fund_id,  actions="view_application", round_id=round.round_id, _anchor=fund_form.title_en.id) }}">Change application name</a>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
        {{ govukButton({ "text": "Build application",
            "href": url_for("application_bp.build_application", round_id=round.round_id, action="application_details"),
            "classes": "govuk-button--secondary"
        }) }}
    </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
       <form method="POST" action="{{ url_for("round_bp.clone_round", round_id=round.round_id) }}" novalidate>
           <div class="govuk-form-group">
               {{ cloned_form.hidden_tag() }}
               {{ cloned_form.fund_id() }}
            </div>
            {{ govukButton({ "text": "Copy application", "type": submit,
                    "classes": "govuk-button--secondary"
            }) }}
       </form>

    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <p class="govuk-body">Grant: {{ round.fund.name_json['en'] }}</p>

    {{ govukSummaryList({
        "classes": "govuk-!-margin-bottom-9",
            "rows": [
                {
                    "key": {"text": form.title_en.label.text},
                    "value": {"text": round.title_json["en"]},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.title_en.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Application round",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.title_cy.label.text},
                    "value": {"text": round.title_json["cy"]},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.title_cy.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Welsh applicaiton round",
                            }
                        ]
                    },
                } if round.fund.welsh_available else {},
                {
                    "key": {"text": form.short_name.label.text},
                    "value": {"text": round.short_name},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.short_name.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Round short name",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.opens.label.text},
                    "value": {"text": round.opens.strftime('%d %B %Y at %H:%M')},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.opens.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Application round opens",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.deadline.label.text},
                    "value": {"text": round.deadline.strftime('%d %B %Y at %H:%M')},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.deadline.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Application round closes",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.reminder_date.label.text},
                    "value": {"text": round.reminder_date.strftime('%d %B %Y at %H:%M')},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.reminder_date.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Applicant reminder email",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.assessment_start.label.text},
                    "value": {"text": round.assessment_start.strftime('%d %B %Y at %H:%M')},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.assessment_start.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Assessment opens",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.assessment_deadline.label.text},
                    "value": {"text": round.assessment_deadline.strftime('%d %B %Y at %H:%M')},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.assessment_deadline.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Assessment closes",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Assessor guidance link"},
                    "value": {"text": round.guidance_url or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.guidance_url.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Assessor guidance link",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Grant team email address"},
                    "value": {"text": round.contact_email or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.contact_email.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Grant team email address",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Before you apply guidance"},
                    "value": {"text": round.instructions_json['en'] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.instructions_en.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Before you apply guidance",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Before you apply guidance (Welsh)"},
                    "value": {"text": round.instructions_json['cy'] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.instructions_cy.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Welsh before you apply guidance",
                            }
                        ]
                    },
                } if round.fund.welsh_available else {},
                {
                    "key": {"text": "Completing the application guidance"},
                    "value": {"text": round.application_guidance_json['en'] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.application_guidance_en.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Completing the application guidance",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Completing the application guidance (Welsh)"},
                    "value": {"text": round.application_guidance_json['cy'] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.application_guidance_cy.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Welsh completing the application guidance",
                            }
                        ]
                    },
                } if round.fund.welsh_available else {},
                {
                    "key": {"text": "Feedback link"},
                    "value": {"text": round.feedback_link or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.feedback_link.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Feedback link",
                            }
                        ]
                    },
                },
                 {
                    "key": {"text": form.prospectus_link.label.text},
                    "value": {"text": round.prospectus_link},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.prospectus_link.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Prospectus link",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.privacy_notice_link.label.text},
                    "value": {"text": round.privacy_notice_link},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.privacy_notice_link.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Privacy notice link",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.project_name_field_id.label.text},
                    "value": {"text": round.project_name_field_id},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.project_name_field_id.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Project name field ID ",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Expression of interest decision schema"},
                    "value": {"text": round.eoi_decision_schema["en"] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.eoi_decision_schema_en.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Expression of interest decision schema",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": "Expression of interest decision schema (Welsh)"},
                    "value": {"text": round.eoi_decision_schema["cy"] or "Not provided"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.eoi_decision_schema_cy.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Welsh expression of interest decision schema",
                            }
                        ]
                    },
                } if round.fund.welsh_available else {},
                {
                    "key": {"text": form.application_fields_download_available.label.text},
                    "value": {"text": "Yes" if round.application_fields_download_available else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.application_fields_download_available.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Allow assessors to download application fields",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.display_logo_on_pdf_exports.label.text},
                    "value": {"text": "Yes" if round.display_logo_on_pdf_exports  else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.display_logo_on_pdf_exports.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Have the MHCLG logo on PDFs",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.mark_as_complete_enabled.label.text},
                    "value": {"text": "Yes" if round.mark_as_complete_enabled else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.mark_as_complete_enabled.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Applicants to mark sections as complete",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.is_expression_of_interest.label.text},
                    "value": {"text": "Yes" if round.is_expression_of_interest == "true" else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.is_expression_of_interest.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Is this application round an expression of interest",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.has_feedback_survey.label.text},
                    "value": {"text": "Yes" if round.feedback_survey_config["has_feedback_survey"] else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.has_feedback_survey.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Include a feedback survey",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.is_feedback_survey_optional.label.text},
                    "value": {"text": "Yes" if round.feedback_survey_config["is_feedback_survey_optional"] else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.is_feedback_survey_optional.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Is the feedback survey optional",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.has_research_survey.label.text},
                    "value": {"text": "Yes" if round.feedback_survey_config["has_research_survey"] else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.has_research_survey.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "include research survey",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.is_research_survey_optional.label.text},
                    "value": {"text": "Yes" if round.feedback_survey_config["is_research_survey_optional"] else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.is_research_survey_optional.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Is the research survey optional",
                            }
                        ]
                    },
                },
                {
                    "key": {"text": form.eligibility_config.label.text},
                    "value": {"text": "Yes" if round.eligibility_config["has_eligibility"] else "No"},
                    "actions": {
                        "items": [
                            {
                                "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.eligibility_config.id),
                                "text": "Change",
                                "classes": "",
                                "visuallyHiddenText": "Do applicants need to pass eligibility questions before applying",
                            }
                        ]
                    },
                },
                {
                "key": {"text": "Send notification emails for incomplete applications after the deadline?"},
                "value": {"text": "Yes" if round.send_incomplete_application_emails else "No"},
                "actions": {
                    "items": [
                        {
                            "href": url_for(endpoint="round_bp.edit_round", round_id=round.round_id, _anchor=form.send_incomplete_application_emails.id),
                            "text": "Change",
                            "classes": "",
                            "visuallyHiddenText": "Send notification emails for incomplete applications after the deadline?",
                        }
                    ]
                    },
                },
                {
                    "key": {"text": "Last updated"},
                    "value": {
                        "text": (to_london_time(round.updated_at or round.created_at).strftime('%-d %B %Y, %H:%M'))
                    },
                } if round.updated_at or round.created_at else {},
           ]
    }) }}
    </div>
</div>
{% endblock content %}
