{% extends "base.html" %}

{% set showNavigationBar = True %}
{% set active_item_identifier = "applications" %}

{%- from "macros/pagination.html" import Pagination -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Applications</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body">View existing applications or create a new one.</p>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
            {{ govukButton({
                "text": "Create new application",
                "href": url_for("round_bp.select_fund", action="applications_table")
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukTable({
                "captionClasses": "govuk-table__caption--m",
                "firstCellIsHeader": false,
                "head": [{"text": "Application name"}, {"text": "Grant"}, {"text": "Round"}, {"text": ""}],
                "rows": table_rows
            }) }}
        </div>
    </div>
    {{ Pagination({"data": pagination}) }}
{% endblock content %}
