{% extends "base.html" %}

{% set showNavigationBar = True %}
{% set active_item_identifier = "applications" %}

{%- from "macros/pagination.html" import Pagination -%}
{%- from "macros/search.html" import SearchBar -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Applications</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">View existing applications or create a new one.</p>
    </div>
    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
        {{ govukButton({
                "text": "Create new application",
                "href": url_for("round_bp.select_fund", action="applications_table")
            }) }}
    </div>
</div>

{{ SearchBar("applications", search_term) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% set table_rows = namespace(items=[]) %}
        {% for round in pagination.items %}

        {% set round_detail_link %}
        <a class='govuk-link govuk-link--no-visited-state'
           href='{{ url_for("round_bp.round_details", round_id=round.round_id) }}'>
            Apply for {{ round.fund.title_json["en"] }}</a>
        {% endset %}

        {% set status_html %}
        <span class="govuk-tag {% if round.status == 'Complete' %}govuk-tag--green{% else %}govuk-tag--blue{% endif %}">
            {{ round.status }}
        </span>
        {% endset %}

        {% set action_link %}
        <a class='govuk-link govuk-link--no-visited-state'
        href='{{ url_for("application_bp.build_application", round_id=round.round_id) }}'>
            {% if round.status == 'Complete' %}View application<span class="govuk-visually-hidden"> for {{ round.fund.title_json["en"] }} {{ round.title_json["en"] }}</span>{% else %}Build application<span class="govuk-visually-hidden"> for {{ round.fund.title_json["en"] }} {{ round.title_json["en"] }}</span>{% endif %}
        </a>
        {% endset %}

        {% set table_rows.items = table_rows.items + [[
            {"html": round_detail_link},
            {"text": round.fund.name_json["en"]},
            {"classes": "govuk-!-width-one-quarter", "text": round.title_json["en"]},
            {"html": status_html},
            {"classes": "govuk-!-text-align-right fab-nowrap","html": action_link,}
                        ]] %}
        {% endfor %}

        {{ govukTable({
                "captionClasses": "govuk-table__caption--m",
                "firstCellIsHeader": false,
                "head": [{"text": "Application name"}, {"text": "Grant"}, {"text": "Round"}, {"text": "Status"}, {"text": ""}],
                "rows": table_rows.items
            }) }}
    </div>
</div>
{{ Pagination(pagination) }}
{% endblock content %}
