{% extends "base.html" %}
{% set pageHeading %}
    {% if form.criteria_id.data %}Update{% else %}Create{% endif %}&nbsp;Criteria
{% endset %}

{% from "macros/wtfToGovUk.html" import input %}
{% from "macros/wtfToGovUk.html" import yes_no %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <p class="govuk-body">Criteria can be:</p>
            <ul class="app-task-list__items">
                <li><span class="govuk-body">- Unscored</span></li>
                <li><span class="govuk-body">- Scored</span></li>
                <li><span class="govuk-body">- Declarations</span></li>
            </ul>
            <form method="POST">
                <div class="govuk-form-group">
                    <h3 class="govuk-heading-m">Criteria Name</h3>
                    {{ form.hidden_tag() }}
                    {{ input(form.name) }}
                    {{ input(form.weighting) }}
                </div>
                {{ govukButton({"text": "Save"}) }}
            </form>
        </div>
    </div>
    {% if form.criteria_id.data %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">Subcriteria of this criteria</h3>
                {{
                    govukButton({
                        "text": "Add Subcriteria",
                        "href": url_for("build_fund_bp.subcriteria", criteria_id=criteria.criteria_id),
                        "classes": "govuk-button--secondary"
                    })
                }}
                <ul class="app-task-list__items">
                    {% for subcriteria in criteria.subcriteria %}
                        <li>
                            <span class="app-task-list__task-name">
                                <h3 class="govuk-heading-m">{{ subcriteria.criteria.index }}.&nbsp;{{ subcriteria.criteria_index }}. {{ subcriteria.name }}</h3>
                            </span>
                            <span class="app-task-list__task-actions">
                                <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.subcriteria", criteria_id=criteria.criteria_id, subcriteria_id=subcriteria.subcriteria_id) }}'>Edit</a>&nbsp;
                                <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.subcriteria", criteria_id=criteria.criteria_id, subcriteria_id=subcriteria.subcriteria_id, action="remove") }}'>Remove</a>&nbsp;
                                {% if subcriteria.criteria_index > 1 %}
                                    <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.subcriteria", criteria_id=criteria.criteria_id, index=subcriteria.criteria_index, action="move_up") }}'>Move up</a>&nbsp;
                                {% endif %}
                                {% if subcriteria.criteria_index < criteria.subcriteria | length %}
                                    <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.subcriteria", criteria_id=criteria.criteria_id, index=subcriteria.criteria_index, action="move_down") }}'> Move down</a>
                                {% endif %}
                            </span>
                            <ul class="app-task-list__items">
                                {% for theme in subcriteria.themes %}
                                    <li class="app-task-list__item task-list__new-design">
                                        <span class="app-task-list__task-name">
                                            <h3 class="govuk-body">
                                                <strong>{{ subcriteria.criteria.index }}.&nbsp;{{ subcriteria.criteria_index }}.&nbsp;{{ theme.subcriteria_index }}.&nbsp;{{ theme.name }}</strong>
                                            </h3>
                                        </span>
                                        <span class="app-task-list__task-actions">
                                            <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.theme", theme_id=theme.theme_id, subcriteria_id=subcriteria.subcriteria_id) }}'>Edit</a>&nbsp;
                                            <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.theme", theme_id=theme.theme_id, subcriteria_id=subcriteria.subcriteria_id, action="remove") }}'>Remove</a>&nbsp;
                                            {% if theme.subcriteria_index > 1 %}
                                                <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.theme", subcriteria_id=subcriteria.subcriteria_id, index=theme.subcriteria_index, action="move_up") }}'>Move up</a>&nbsp;
                                            {% endif %}
                                            {% if theme.subcriteria_index < subcriteria.themes | length %}
                                                <a class="govuk-link--no-visited-state" href='{{ url_for("build_fund_bp.theme", subcriteria_id=subcriteria.subcriteria_id, index=theme.subcriteria_index, action="move_down") }}'> Move down</a>
                                            {% endif %}
                                        </span>
                                    </li>
                                    {% for component in theme.components %}
                                        <li class="app-task-list__item task-list__new-design">
                                            <span class="app-task-list__task-name">
                                                <h3 class="govuk-body">
                                                    {{ subcriteria.criteria.index }}.&nbsp;{{ subcriteria.criteria_index }}.&nbsp;{{ theme.subcriteria_index }}.&nbsp;{{ component.theme_index }}.&nbsp;
                                                    {{ component.runner_component_name }}&nbsp;-&nbsp;
                                                    {{ (component.title[:50] + '...') if component.title and component.title|length > 50 else component.title }}
                                                </h3>
                                            </span>
                                            <span class="app-task-list__task-actions">
                                                <a class="govuk-link--no-visited-state" href="{{ url_for('build_fund_bp.configure_forms_in_theme', component_id=component.component_id, theme_id=theme.theme_id, action='remove') }}">Remove</a>&nbsp;
                                                {% if component.theme_index > 1 %}
                                                    <a class="govuk-link--no-visited-state" href="{{ url_for('build_fund_bp.configure_forms_in_theme', theme_id=theme.theme_id, index=component.theme_index, action='move_up') }}">Move up</a>&nbsp;
                                                {% endif %}
                                                {% if component.theme_index < theme.components | length %}
                                                    <a class="govuk-link--no-visited-state" href="{{ url_for('build_fund_bp.configure_forms_in_theme', theme_id=theme.theme_id, index=component.theme_index, action='move_down') }}"> Move down</a>
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}
