{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/accordion/macro.html" import govukAccordion -%}
{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">View Full Application Config</h1>
            <h2 class="govuk-heading-m">{{ fund.short_name }} - {{ round.short_name }}</h2>
        </div>
    </div>
    {{ govukButton({
        "text": "View All Questions",
        "href": url_for("build_fund_bp.view_all_questions", round_id=round.round_id) ,
    "classes": "govuk-button--secondary"
    })
    }}
    {{ govukButton({
        "text": "Create export files for round",
        "href": url_for("build_fund_bp.create_export_files", round_id=round.round_id) ,
    "classes": "govuk-button--secondary"
    })
    }}
    <ol class="app-task-list">
        {% for section in round.sections %}
            <li>
                <h2 class="app-task-list__section">{{ section.index }}. {{ section.name_in_apply_json["en"] }}</h2>
                {{ govukButton({
                                "text": "Remove",
                                "href": url_for("build_fund_bp.section",round_id=round.round_id, section_id=section.section_id, action="remove") ,
                "classes": "govuk-button--warning"
                }) }}
                <ul class="app-task-list__items">
                    {% for form in section.forms %}
                        <li class="app-task-list__item task-list__new-design">
                            <span class="app-task-list__task-name">
                                <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{url_for('build_fund_bp.view_form_questions', round_id=round.round_id, form_id=form.form_id)}}">{{ section.index }}.&nbsp;{{ form.section_index }}.&nbsp;{{ form.name_in_apply_json["en"] }}</a>
                            </span>
                            <span class="app-task-list__task-actions">
                                {{ govukButton({
                                                                "text": "Download JSON",
                                                                "href": url_for("build_fund_bp.download_form_json", form_id=form.form_id) ,
                                "classes": "govuk-button--secondary"
                                }) }}
                                {{ govukButton({
                                                                "text": "Preview",
                                                                "href": url_for("build_fund_bp.preview_form", form_id=form.form_id) ,
                                "classes": "govuk-button--secondary"
                                }) }}
                            <form
                                  method="post"
                                  action="{{ url_for('build_fund_bp.configure_forms_in_section', round_id=round.round_id, section_id=section.section_id, form_id=form.form_id, action='remove') }}">
                                {{ govukButton({"text": "Remove", "classes": "govuk-button--warning"}) }}
                            </form>
                            </span>
                        </li>
                    {% endfor %}
                </li>
            {% endfor %}
        </ol>

    {% endblock content %}
