{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application marked as complete
      </h1>
    </div>

    <p class="govuk-body">You can still edit your application at any time.</p>

    <h3 class="govuk-heading-m">What you need to do next</h3>

    <p class="govuk-body"><a href="{{ url_for('application_bp.create_export_files', round_id=round.round_id) }}" class="govuk-link">Download the application ZIP file</a> and send it to the Live Services team.</p>
    <p class="govuk-body govuk-!-margin-top-9">
      <a href="{{ url_for('application_bp.build_application', round_id=round.round_id) }}" class="govuk-link">Back to application</a>
    </p>
    <p class="govuk-body">
      <a href="{{ url_for('index_bp.dashboard') }}" class="govuk-link">Go to home page</a>
    </p>
  </div>
</div>
{% endblock %}
