{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% set showNavigationBar = True %}
{% set active_item_identifier = "applications" %}


{% block beforeContent %}
  {{ super() }}
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukBackLink({
                "text": "Back",
                "href": back_link
            }) }}
        </div>
    </div>
{% endblock beforeContent %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Apply for {{ fund.title_json["en"] }}</span>
            <h1 class="govuk-heading-l">Build application</h1>
            <p class="govuk-body">Build the application by adding sections and using templates.</p>
        </div>
    </div>
    <ul class="app-task-list__items">
        {% for section in round.sections %}
        <li class="">
                <span class="app-task-list__task-name">
                    <h3 class="govuk-heading-m">{{ section.index }}. {{ section.name_in_apply_json["en"] }}</h3>
                </span>
                <span class="app-task-list__task-actions">
                    <a class="govuk-link--no-visited-state" href='{{ url_for("application_bp.section", round_id=round.round_id, section_id=section.section_id) }}'>Edit</a>
                    <a class="govuk-link--no-visited-state govuk-!-margin-left-2" href='{{ url_for("application_bp.delete_section",round_id=round.round_id, section_id=section.section_id) }}'>Remove</a>
                    {% if section.index > 1 %}
                        <a class="govuk-link--no-visited-state govuk-!-margin-left-2" href='{{ url_for("application_bp.move_section_up_route",round_id=round.round_id, section_id=section.section_id) }}'>Move up</a>
                    {% endif %}
                    {% if section.index < round.sections | length %}
                        <a class="govuk-link--no-visited-state govuk-!-margin-left-2" href='{{ url_for("application_bp.move_section_down_route",round_id=round.round_id, section_id=section.section_id) }}'> Move down</a>
                    {% endif %}
                </span>
                <ul class="app-task-list__items">
                    {% for form in section.forms %}
                        <li class="app-task-list__item task-list__new-design">
                            <span class="app-task-list__task-name">
                                <h3 class="govuk-body">
                                    {{ form.name_in_apply_json["en"] }}
                                </h3>
                            </span>
                            <span class="app-task-list__task-actions">
                                <a class="govuk-link--no-visited-state" href="{{ url_for('application_bp.view_form_questions', round_id=round.round_id, section_id=section.section_id, form_id=form.form_id) }}">View questions</a>
                                <a class="govuk-link--no-visited-state govuk-!-margin-left-2" target="_blank" href='{{ url_for("index_bp.preview_form", form_id=form.form_id) }}'>Preview</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukButton({
                "text": "Add section",
                "href": url_for("application_bp.section", round_id=round.round_id),
                "classes": "govuk-button--secondary"
            })
            }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <p class="govuk-body">
                <a class="govuk-link" href="{{ url_for('application_bp.view_all_questions', round_id=round.round_id) }}">View all application questions</a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body">
                <a class="govuk-link" href="{{ url_for('application_bp.create_export_files', round_id=round.round_id) }}">Download application ZIP file</a>
            </p>
        </div>
    </div>

{% endblock content %}
