{% extends "base.html" %}
{% set pageHeading %}
    {% if form.section_id.data %}
        Edit section
    {% else %}
        Create section
    {% endif %}
{% endset %}
{% set back_link = True %}
{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}
        </div>
    </div>
    <form method="POST" novalidate>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
        </div>
        {% if form.section_id.data %}
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            <a href="{{ url_for('application_bp.delete_section', round_id=round_id, section_id=form.section_id.data) }}" class="govuk-button govuk-button--warning" data-module="govuk-button">
                Delete section
            </a>
        </div>
        {% endif %}
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-form-group">
                <h3 class="govuk-heading-m">Section name</h3>
                {{ form.hidden_tag() }}
                {{ form.name_in_apply_en }}
            </div>
        </div>
    </div>
        {% if form.section_id.data %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="app-task-list__task-name">
                        <h3 class="govuk-heading-m">Tasks in this section</h3>
                    </span>
                    <ul class="app-task-list__items">
                        {% for app_form in forms_in_section %}
                            <li class="app-task-list__item task-list__new-design">
                                <span class="app-task-list__task-name">
                                    <h3 class="govuk-body">
                                        <a href="{{ url_for('index_bp.preview_form', form_id=app_form.form_id) }}" target="_blank" class="govuk-link--no-visited-state">
                                            {{ app_form.section_index }}. {{ app_form.name_in_apply_json["en"] }} (previews in a new tab)
                                        </a>
                                    </h3>
                                </span>
                                <span class="app-task-list__task-actions">
                                    {% if app_form.section_index == forms_in_section | length %}
                                        <span class="govuk-!-font-size-19 govuk-!-margin-right-2 disabled-link">Down</span>
                                    {% else %}
                                        <a class="govuk-!-font-size-19 govuk-!-margin-right-2 govuk-link--no-visited-state"
                                            href="{{ url_for('application_bp.move_form_down_route', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}">Down</a>
                                    {% endif %}
                                    {% if app_form.section_index == 1 %}
                                        <span class="govuk-!-font-size-19 govuk-!-margin-right-2 disabled-link">Up</span>
                                    {% else %}
                                        <a class="govuk-!-font-size-19 govuk-!-margin-right-2 govuk-link--no-visited-state"
                                            href="{{ url_for('application_bp.move_form_up_route', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}">Up</a>
                                    {% endif %}
                                    <a class="govuk-button govuk-button--secondary govuk-!-margin-left-2 govuk-!-margin-bottom-0"
                                        href="{{ url_for('application_bp.delete_form', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}">Remove</a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div id="select-template-group">
                        {{ form.template_id() }}
                        {{ form.add_form() }}
                    </div>
                    <div class="govuk-button-group">
                        {{ form.save_section() }}
                        <a href="{{ url_for('application_bp.build_application', round_id=round_id) }}" class="govuk-button govuk-button--secondary">Cancel</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>

    {% endblock content %}
