{% extends "base.html" %}
{% set pageHeading %}
    {% if form.section_id.data %}
        Update
    {% else %}
        Create{% endif %}&nbsp;Section
{% endset %}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/select/macro.html" import govukSelect -%}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
                <form method="POST">
                    <div class="govuk-form-group">
                        <h3 class="govuk-heading-m">Section Name</h3>
                        {{ form.hidden_tag() }}
                        {{ form.name_in_apply_en }}
                    </div>
                    {{ govukButton({"text": "Save"}) }}
                </form>
            </div>
        </div>
        {% if form.section_id.data %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="app-task-list__task-name">
                        <h3 class="govuk-heading-m">Forms in this section</h3>
                    </span>
                    <ul class="app-task-list__items">
                        {% for app_form in forms_in_section %}
                            <li class="app-task-list__item task-list__new-design">
                                <span class="app-task-list__task-name">
                                    <h3 class="govuk-body">{{ app_form.section_index }}.&nbsp;{{ app_form.name_in_apply_json["en"] }}</h3>
                                </span>
                                <span class="app-task-list__task-actions">
                                    <a class="govuk-link--no-visited-state"
                                       href="{{ url_for('application_bp.delete_form', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}">Remove</a>&nbsp;
                                    {% if app_form.section_index > 1 %}
                                        <a class="govuk-link--no-visited-state"
                                           href="{{ url_for('application_bp.move_form_up_route', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}">Move up</a>&nbsp;
                                    {% endif %}
                                    {% if app_form.section_index < forms_in_section | length %}
                                        <a class="govuk-link--no-visited-state"
                                           href="{{ url_for('application_bp.move_form_down_route', round_id=round_id, section_id=app_form.section_id, form_id=app_form.form_id) }}"> Move down</a>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    <h3 class="govuk-heading-m">Add Form From Template</h3>
                    <form method="POST"
                          action="{{ url_for('application_bp.add_form', round_id=round_id, section_id=form.section_id.data) }}">
                        {{ govukSelect({
                                                "id": "template_id",
                                                "name": "template_id",
                                                "label": {
                                                "text": "Create form from template"
                                                },
                                                "items": available_template_forms}) }}
                        {{ govukButton({"text": "Add"}) }}
                    </form>
                </div>
            </div>
        {% endif %}
    {% endblock content %}
