{% extends "base.html" %}

{% set pageHeading %}{{ title }} {% endset %}
{% set back_link = True %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if all_questions_view %}
                <span class="govuk-caption-l">[Preview] Application questions</span>
                <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
            {% else %}
                <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageHeading }}</h1>
                <p class="govuk-body govuk-!-margin-bottom-9">This template contains the following questions.</p>
            {% endif %}
            {{ question_html | safe }}
        </div>
    </div>
{% endblock %}
