{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% set showNavigationBar = True %}
{% set active_item_identifier = "templates" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukBackLink({
              "text": "Back",
              "href": url_for("template_bp.view_templates")
            }) }}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ form.template_name }}</h2>
            <p class="govuk-body govuk-!-margin-bottom-7">
                <a class='govuk-link govuk-link--no-visited-state'
                   target="_blank"
                   href='{{ url_for("index_bp.preview_form", form_id=form.form_id) }}'>
                    Preview template (opens in a new tab)
                </a>
            </p>

            {{ govukSummaryList({
                "classes": "govuk-!-margin-bottom-1",
                "rows": [
                    {
                        "key": {"text": "Template name"},
                        "value": {"text": form.template_name},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": "#",
                                "text": "Change"
                                }
                            ]
                        }
                    },
                    {
                        "key": {"text": "Task name"},
                        "value": {"text": form.name_in_apply_json["en"]},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": "#",
                                "text": "Change"
                                }
                            ]
                        }
                    },
                    {
                        "key": {"text": "Template JSON file"},
                        "value": {"text": form.runner_publish_name},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": "#",
                                 "text": "Change"
                                 }
                            ]
                        }
                    }
                    ]
            }) }}
            <p class="govuk-body govuk-!-margin-top-8">
                <a class='govuk-link govuk-link--no-visited-state'
                   href='#'>View template questions</a>
            </p>
        </div>
    </div>
{% endblock content %}
