{% extends "base.html" %}
{% set showNavigationBar = True %}
{% set active_item_identifier = "templates" %}

{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{% block beforeContent %}
    {{ super() }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukBackLink({
              "text": "Back",
              "href": url_for("index_bp.go_back")
            }) }}
        </div>
    </div>
{% endblock beforeContent %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {% if template_name %}
                    {{ template_name }}
                {% else %}
                    Upload a new template
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                {{ form.template_name() }}
                {{ form.tasklist_name() }}
                {{ form.file(params={'attributes': {"accept": ".json"},}) }}

                <div class="govuk-button-group govuk-!-margin-top-6">
                    {{ form.save_and_continue() }}

                    {{ govukButton({
                            "text": "Cancel",
                            "classes": "govuk-button--secondary",
                            "href": url_for("template_bp.template_details", form_id=form.form_id.data) if actions=='template_details' else url_for("template_bp.view_templates")
                        }) }}
                </div>

                <p class="govuk-body">
                    {{ form.save_and_return_home(params={'classes': 'govuk-button--secondary'}) }}
                </p>
            </form>
        </div>
    </div>
{% endblock %}
