{% extends "base.html" %}
{%- from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% set showNavigationBar = True %}
{% set active_item_identifier = "templates" %}
{% set back_link = True %}
{% block beforeContent %}
    {{ super() }}
{% endblock beforeContent %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ form.template_name }}</h1>
            <p class="govuk-body">
                <a class='govuk-link govuk-link--no-visited-state'
                   target="_blank"
                   href='{{ url_for("index_bp.preview_form", form_id=form.form_id) }}'>
                    Preview template (opens in a new tab)
                </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukSummaryList({
                "classes": "govuk-!-margin-bottom-1",
                "rows": [
                    {
                        "key": {"text": "Template name"},
                        "value": {"text": form.template_name},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": url_for(endpoint="template_bp.edit_template", form_id=form.form_id, actions='template_details', _anchor=form_obj.template_name.id),
                                "text": "Change",
                                "visuallyHiddenText": "Template name",
                                }
                            ]
                        }
                    },
                    {
                        "key": {"text": "Task name"},
                        "value": {"text": form.name_in_apply_json["en"]},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": url_for(endpoint="template_bp.edit_template", form_id=form.form_id, actions='template_details', _anchor=form_obj.tasklist_name.id),
                                "text": "Change",
                                "visuallyHiddenText": "Task name",
                                }
                            ]
                        }
                    },
                    {
                        "key": {"text": "Template JSON file"},
                        "value": {"text": "File added"},
                        "actions": {
                            "items": [
                                {
                                "classes": "govuk-link--no-visited-state",
                                "href": url_for(endpoint="template_bp.edit_template", form_id=form.form_id, actions='template_details', _anchor=form_obj.file.id),
                                "text": "Change",
                                "visuallyHiddenText": "Template JSON file",
                                }
                             ]
                        }
                    }
                    ]
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body">
                <a class='govuk-link govuk-link--no-visited-state'
                   href='{{ url_for("template_bp.template_questions", form_id=form.form_id) }}'>
                    View template questions
                </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-full">
            {{ govukButton({
                  "text": "Delete template ",
                  "classes": "govuk-button--warning",
                  "href": url_for("template_bp.delete_template", form_id=form.form_id)
                }) }}
        </div>
    </div>
{% endblock content %}
