{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% extends "base.html" %}
{% set showNavigationBar = True %}
{% set active_item_identifier = "templates" %}
{% block beforeContent %}
    {{ super() }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukBackLink({
              "text": "Back",
              "href":  url_for("index_bp.go_back")
            }) }}
        </div>
    </div>
{% endblock beforeContent %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ form.template_name }}</h1>
        <p class="govuk-body govuk-!-margin-bottom-9">This template contains the following questions.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% autoescape on %}
        {{ question_html | safe }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
