{% macro govukGenericTableTemplate(params) %}

    {% from "govuk_frontend_jinja/macros/attributes.html" import govukAttributes -%}
    {%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
    {% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
    {%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
    {%- from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination -%}
    {%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}
    {% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="govuk-grid-row">
                {{ govukNotificationBanner({"html": messages[0],"type": "success"}) }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">{{ params.generic_table_page.page_heading }}</h1>
        <p class="govuk-body">{{ params.generic_table_page.page_description }}</p>
        {% if params.generic_table_page.link and params.generic_table_page.link.href and params.generic_table_page.link.text %}
            <p class="govuk-body">
                <a class="govuk-link"
                   target="_blank"
                   href="{{ params.generic_table_page.link.href }}">{{ params.generic_table_page.link.text }}</a>.
            </p>
        {% endif %}
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-padding-0">
            {% if params.generic_table_page.detail and params.generic_table_page.detail.detail_text %}
                {% set description = params.generic_table_page.detail.detail_description or params.generic_table_page.detail.detail_description_html %}
                {% set description_type = 'text' if params.generic_table_page.detail.detail_description else 'html' %}
                {% if description %}
                    {{ govukDetails({
                        "summaryText": params.generic_table_page.detail.detail_text,
                        description_type: description
                    }) }}
                {% endif %}
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-0 govuk-!-text-align-right">
            {% if params.generic_table_page.button and params.generic_table_page.button.button_text and params.generic_table_page.button.button_text %}
                {{ govukButton({
                  "text": params.generic_table_page.button.button_text,
                  "href": params.generic_table_page.button.button_url
            }) }}
            {% endif %}
        </div>
    </div>
    <div class="govuk-grid-row">
        {% if params.generic_table_page.table and params.generic_table_page.table.table_header %}
            {{ govukTable({
                "captionClasses": "govuk-table__caption--m",
                "firstCellIsHeader": false,
                "head": params.generic_table_page.table.table_header,
                "rows": params.generic_table_page.table.table_rows
            }) }}
        {% endif %}
    </div>
    <div class="govuk-grid-row">
        {% if params.generic_table_page.pagination %}
            {{ govukPagination(params.generic_table_page.pagination) }}
        {% endif %}
    </div>
{% endmacro %}
