{% macro govukGenericTableTemplate(params) %}

    {% from "govuk_frontend_jinja/macros/attributes.html" import govukAttributes -%}
    {%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
    {% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
    {%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
    {%- from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination -%}
    {%- from "govuk_frontend_jinja/components/details/macro.html" import govukDetails -%}

    <div class="govuk-grid-row">
        {% if params.generic_table_page.error %}
            {{ govukErrorSummary({
            "titleText": params.generic_table_page.error.titleText,
            "errorList": params.generic_table_page.error.errorList
            }) }}
        {% endif %}
        <h1 class="govuk-heading-l">{{ params.generic_table_page.page_heading }}</h1>
        <p class="govuk-body">{{ params.generic_table_page.page_description }}</p>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters govuk-!-padding-0">
            {% if params.generic_table_page.detail and params.generic_table_page.detail.summary_text and params.generic_table_page.detail.text %}
                {{ govukDetails({
              "summaryText": params.generic_table_page.detail.summary_text,
              "text": params.generic_table_page.detail.text
            }) }}
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-0 govuk-!-text-align-right">
            {% if params.generic_table_page.button_text %}
                {{ govukButton({
                  "text": params.generic_table_page.button_text
            }) }}
            {% endif %}
        </div>
    </div>
    <div class="govuk-grid-row">
        {% if params.generic_table_page.table %}
            {{ govukTable({
                "caption": params.generic_table_page.table.caption,
                "captionClasses": "govuk-table__caption--m",
                "firstCellIsHeader": false,
                "head": params.generic_table_page.table.head,
                "rows": params.generic_table_page.table.rows
            }) }}
        {% endif %}
    </div>

{% endmacro %}