<h3 class="govuk-notification-banner__heading">{{ message }}</h3>
{%- if href_display_name and href %}
<p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="{{ href }}">
        View {{ href_display_name }}
    </a>
</p>
{%- endif %}
{%- if next_href and next_href_display_name %}
    <p class="govuk-body">
        Next step: <a class="govuk-link govuk-link--no-visited-state" href="{{ next_href }}">
             {{ next_href_display_name }}
        </a>
    </p>
{%- endif %}
