{% extends "base.html" %}

{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Accessibility statement</h1>
            <p class="govuk-body">The Ministry of Housing, Communities & Local Government is committed to making its online services accessible, in accordance with the <a
                        href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps"
                        class="govuk-link">Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.</p>
            <p class="govuk-body">This accessibility statement applies to all available content on the
                <br>
                access-funding.communities.gov.uk domain.
            </p>

            <h2 class="govuk-heading-m">Compliance status</h2>
            <p class="govuk-body">The Access Funding online application website is fully compliant with the Web Content Accessibility Guidelines version 2.2 AA standard.</p>

            <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
            <p class="govuk-body">This statement was prepared in November 2022 and was last updated on 22 August 2025 following an accessibility audit carried out by 
                <a href="https://digitalaccessibilitycentre.org/" class="govuk-link">The Digital Accessibility Centre (DAC)</a>,
                additional manual testing and our responses to the findings of these activities.</p>

            <h2 class="govuk-heading-m">Enforcement procedure</h2>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
            <p class="govuk-body">If you’re not happy with how we respond to your complaint,
                <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
        </div>
    </div>
{% endblock content %}
