{% extends "base.html" %}
{% set showNavigationBar = True %}
{% set active_item_identifier = "home" %}

{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% block content %}
    <div class="govuk-width-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% set html %}
                    <p class="govuk-notification-banner__body">{{ messages[0] }}</p>
                {% endset %}
                {{
                    govukNotificationBanner({
                        "html": html,
                        "type": "success"
                    })
                }}
            {% endif %}
        {% endwith %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Creating a new grant application</h1>
                <p class="govuk-body-m">
                    Follow the step-by-step instructions to create a new grant application.
                </p>
                <ol class="govuk-list govuk-!-margin-bottom-7">
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link govuk-!-font-weight-bold" href="{{ url_for('fund_bp.create_fund') }}">1. Add a new grant</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Add a grant's details before creating an application.
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link govuk-!-font-weight-bold" href="{{ url_for('round_bp.select_fund') }}">2. Create a new application</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Create an application and set deadlines and the prospectus link.
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link govuk-!-font-weight-bold" href="{{ url_for("application_bp.select_fund") }}">3. Add templates to your application</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Use templates to add questions to your application.
                        </p>
                    </li>
                </ol>

                <h2 class="govuk-heading-m">How to use templates</h2>
                <p class="govuk-body-m">
                    Use existing templates for standard application questions, or create a new template for specific grant questions if needed.
                </p>
                <p class="govuk-body-m">
                    <a class="govuk-link govuk-!-font-weight-bold" href="{{ url_for('template_bp.view_templates') }}">View and create templates</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
