{% extends "base.html" %}
{% set showNavigationBar = True %}
{% set active_item_identifier = "home" %}

{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% block content %}
    <div class="govuk-width-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% set html %}
                    <p class="govuk-notification-banner__body">{{ messages[0] }}</p>
                {% endset %}
                {{
                    govukNotificationBanner({
                        "html": html,
                        "type": "success"
                    })
                }}
            {% endif %}
        {% endwith %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Creating a new grant application</h1>
                <p class="govuk-body-m">
                    Follow the step-by-step instructions to create a new grant application.
                </p>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link" href="{{ url_for('fund_bp.fund') }}">Add a new grant</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Add a grant's details before creating an application.
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link" href="{{ url_for('round_bp.round') }}">Add application details</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Add application details, such as the open and deadline dates.
                        </p>
                    </li>
                    <li>
                        <p class="govuk-body-m govuk-!-margin-bottom-0">
                            <a class="govuk-link" href="#">Build a grant application</a>
                        </p>
                        <p class="govuk-body-m govuk-!-margin-top-0">
                            Build a grant application using standard or grant-specific templates.
                        </p>
                    </li>
                </ol>

                <h2 class="govuk-heading-m">Using templates for application questions</h2>
                <p class="govuk-body-m">
                    Use existing templates for standard application questions, or create a new template for specific grant questions as needed.
                </p>
                <p class="govuk-body-m">
                    <a class="govuk-link" href="{{ url_for('template_bp.view_templates') }}">View and create templates</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
