{% extends "govuk_frontend_jinja/template.html" %}
{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% set assetPath = url_for("static", filename="").rstrip("/") %}

{% set cspNonce = csp_nonce() %}  {# Used in the base template govuk_frontend_jinja/template.html #}

{% block pageTitle %}Fund application builder{% endblock pageTitle %}

{% block head %}
  {% include "head.html" %}
{% endblock head %}

{% block header %}
  {{ govukHeader({
    "useTudorCrown": "yes",
    "classes": "govuk-header--full-width-border",
    "serviceName": "Fund application builder",
    "serviceUrl": url_for("index_bp.index"),
    "navigation": [
        {
            "text": "Sign out",
            "href": g.logout_url
        }
    ]  if g.is_authenticated else []
  }) }}

  {# Only show the custom navigation if showNavigationBar is set #}
  {% if showNavigationBar %}
    {% include "navigation.html" %}
  {% endif %}
{% endblock header %}

{% block main %}
<div class="govuk-width-container {{ containerClasses }}">
  {% block beforeContent %}{% endblock beforeContent %}
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukNotificationBanner({"html": messages[0],"type": "success"}) }}
              </div>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
  </main>
</div>
{% endblock main %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}

{% block bodyEnd %}
  <script type="module" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend-5.6.0.min.js') }}"></script>
  <script type="module" nonce="{{ csp_nonce() }}">
    import { initAll } from "{{ url_for('static', filename='govuk-frontend/govuk-frontend-5.6.0.min.js') }}"
    initAll()
  </script>
{% endblock bodyEnd %}
