{# navigation.html #}
{% from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation %}

{% set nav_items = [
  {
    "text": "Home",
    "href": url_for("index_bp.dashboard"),
    "current": active_item_identifier == "home"
  },
  {
    "text": "Grants",
    "href": url_for("fund_bp.view_all_funds"),
    "current": active_item_identifier == "grants"
  },
  {
    "text": "Applications",
    "href": url_for("round_bp.view_all_rounds"),
    "current": active_item_identifier == "applications"
  }
] %}

{{ govukServiceNavigation({
  "serviceName": "Fund application builder",
  "serviceUrl": url_for("index_bp.index"),
  "navigation": nav_items,
  "classes": "govuk-!-margin-bottom-0"
}) }}
