{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% set back_link = True %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if form.errors %}
                {{ govukErrorSummary(wtforms_errors(form)) }}
            {% endif %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="POST" novalidate>
                {{ form.csrf_token }}
                {% set labelHtml %}
                {{ form.fund_id.label.text }}
                {% endset %}

                {% set hintHtml %}
                <p class="govuk-body govuk-!-margin-top-3">
                  <a href="{{ url_for('fund_bp.create_fund', actions="select_grant") }}}}" class="govuk-link">Add a new grant</a>
                </p>
                {%endset%}

                {{ form.fund_id(params={"label": {"isPageHeading": true, "classes": "govuk-label--l", "html": labelHtml }, "formGroup": {"afterInput": {"html": hintHtml } } })  }}

                <div class="govuk-button-group">
                    {{ govukButton({
          "text": "Continue",
          "type": "submit"
        }) }}
                    {{ govukButton({
          "text": "Cancel",
          "href": back_link,
          "classes": "govuk-button--secondary"
        }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
